@import '../../assets/scss/partials/variables.scss';

.card {
  @media #{$tablet-max} {
    padding: 10px 20px;
  }
  .card-label {
    padding: 10px 0;
    & span {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 11px;
      line-height: 18px;
      /* identical to box height, or 164% */

      letter-spacing: 0.3em;
    }
  }

  .card-image {
    width: 100%;

    & img {
      width: 100%;
    }
  }

  .card-description {
    padding: 10px 0px;
    color: map-get($text-colors, bodyText);
    border-bottom: 1px solid map-get($grey, 400);

    .category {
      color: map-get($palette, red);
      text-transform: uppercase;
      font-weight: 700;
      font-size: 11px;
      line-height: 18px;
      /* identical to box height, or 164% */
      letter-spacing: 0.15em;
    }

    .title {
      color: map-get($text-colors, bodyText);
      font-weight: 900;
      font-size: 24px;
      text-decoration: none;

    }

    .short-description {
      color: map-get($palette, tertiary);
      font-weight: 200;
      font-size: 15px;
    }

    .duration {
      color: map-get($palette, secondary);
      font-weight: 200;
      font-size: 11px;
    }
    & p {
      margin: 5px 0;
    }
  }

  .card-news {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    border-bottom: 1px solid map-get($grey, 400);

    &.even {
      display: flex !important;
      flex-direction: row-reverse;  

      .card-image{
          padding-left: 0px;
          padding-right: 40px;
      }
    }

    @media #{$tablet-max} {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      .card-image {
        max-width: 100% !important;
        padding: 0 !important;
        & img {
          width: 100% !important;
        }
      }
      &.even {
        display: flex !important;
        flex-direction: column-reverse !important;
      }
    }

    .card-image {
      position: static;
      max-width: 260px;
      padding-left: 40px;
    }
    .card-description {
      border-bottom: none;
    }

    .title {
      color: map-get($text-colors, bodyText);
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-decoration: none;
    }
    .card-details {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: map-get($palette, secondary);
      font-weight: 300;
      font-size: 11px;
      line-height: 18px;

      .author {
        padding-right: 3px;
      }

      .date {
        padding-left: 3px;
      }
    }
  }
}
