@import '../../assets/scss/partials/variables.scss';

.secondary-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: map-get($text-colors, bodyText);
  padding: 8px 0 10px 0px;
  border-bottom: 1px solid map-get($grey, 400);
  max-width: 100%;
  
  & ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 20px;
    font-size: 14px;
    font-style: normal;
    margin: 5px 0;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    padding-inline-start: 0;
    overflow-x: scroll;
     @media #{$tablet-max} {
        padding: 5px 16px;
  }
  }
  & li {
    padding-right: 16px;
    text-transform: capitalize;
  }
  & li:hover{
    color: map-get($palette , red );
    text-decoration: underline;
    cursor: pointer;
  }

 
}
